header {
	/* border: 1px solid salmon; */
	color: white;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 4rem;
}

.header-wrapper {
	/* border: 1px solid lightblue; */
	flex-grow: 1;
	height: 100%;
	max-width: 60%;
	display: flex;
	align-items: stretch;
}

/* .header-wrapper * {
	border: 1px solid gray;
} */

.header-left {
	flex-basis: 70%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 1rem;
}

.mail-link {
	color: var(--accent);
}

.header-right {
	/* border: 1px solid blue; */

	flex-basis: 30%;
	display: flex;
}

.img-wrapper {
	width: 90%;
	height: 50%;
	background-image: url(src/assets/pfp.jpg);
	background-position: center;
	background-size: cover;
	margin: auto;
	margin-right: 0;
	/* border-radius: 25px; */
	border-radius: 43% 57% 62% 38% / 34% 36% 64% 66%;
	/* aspect-ratio: 3/4; */
}

h1 {
	font-size: clamp(2rem, 5vw, 4rem);
	/* font-size: 4rem; */

	line-height: 80%;
}

header h2 {
	color: var(--accent);
	font-size: clamp(1rem, 2.5vw, 1.8rem);
}

header p {
	line-height: 140%;
}

.cv_download {
	text-decoration: none;
	color: var(--bg-color);
	background-color: var(--call-to-action);

	display: flex;
	gap: 0.5rem;
	align-items: center;
	padding: 1rem;
	/* margin-top: 1rem; */
}

.actions {
	/* border: 1px solid salmon; */
	font-size: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 1rem;
}

.social-links {
	display: flex;
	text-decoration: none;
	color: var(--bg-light);
	transition: ease-in-out 0.2s;
}

.social-links:hover {
	color: var(--accent);
}

/* Responsiveness */

@media (max-width: 1600px) {
	.header-wrapper {
		max-width: 70%;
	}
}

@media (max-width: 1300px) {
	.header-wrapper {
		max-width: 90%;
	}

	.img-wrapper {
		height: 40%;
	}
}

@media (max-width: 1000px) {
	.header-wrapper {
		flex-direction: column;
	}

	.header-left {
		flex-basis: 100%;
	}
	.header-right {
		display: none;
	}
}
