header {
	/* border: 1px solid salmon; */
	color: white;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-wrapper {
	/* border: 1px solid lightblue; */
	flex-grow: 1;
	height: 100%;
	max-width: 60%;
	display: flex;
	align-items: stretch;
}

/* .header-wrapper * {
	border: 1px solid gray;
} */

.header-left {
	flex-basis: 70%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 1rem;
}

.mail-link {
	color: var(--accent);
}

.header-right {
	/* border: 1px solid blue; */

	flex-basis: 30%;
	display: flex;
}

.img-wrapper {
	width: 90%;
	height: 50%;
	background-image: url(src/assets/pfp.jpg);
	background-position: center;
	background-size: cover;
	margin: auto;
	margin-right: 0;
	/* border-radius: 25px; */
	border-radius: 43% 57% 62% 38% / 34% 36% 64% 66%;
}

h1 {
	font-size: 4rem;
	line-height: 80%;
}

header h2 {
	color: var(--accent);
	font-size: 1.8rem;
}

header p {
	line-height: 140%;
}

.cv_download {
	text-decoration: none;
	color: var(--bg-color);
	background-color: var(--call-to-action);

	display: flex;
	gap: 0.5rem;
	align-items: center;
	padding: 1rem;
	/* margin-top: 1rem; */
}

.actions {
	/* border: 1px solid salmon; */
	font-size: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 1rem;
}

.social-links {
	display: flex;
	text-decoration: none;
	color: var(--bg-light);
	transition: ease-in-out 0.2s;
}

.social-links:hover {
	color: var(--accent);
}

.scroll {
	/* border: 1px solid salmon; */
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: var(--accent);
	font-size: 2rem;
	margin: 4rem;
	filter: drop-shadow(0px 0px 10px var(--accent));

	transform: scale (1);
	animation: pulse 4s infinite ease-in-out;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
	}
	40% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(0.9);
	}
}
