nav {
	display: flex;
	padding: 2rem 0rem;
	max-width: 60%;
	margin: auto;

	color: white;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 1.1rem;
}

.nav-left {
	flex-basis: 50%;
	justify-content: start;
	font-weight: bold;
}

.nav-right {
	flex-basis: 50%;
	justify-content: start;
}

nav ul {
	display: flex;
	justify-content: end;
	gap: 2rem;
	list-style: none;
	font-weight: 400;
}

.nav-item a {
	text-decoration: none;
	transition: color ease-in-out 0.3s;
	color: var(--bg-light);
}

.nav-item > a:hover {
	color: white;
	border-bottom: 2px solid var(--accent);
}
