nav {
	position: relative;
	display: flex;
	align-items: center;
	max-width: 60%;
	margin: auto;
	height: 10vh;

	color: white;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 1.1rem;
}

.nav-left {
	flex-basis: 50%;
	justify-content: start;
	font-weight: bold;
}

.nav-right {
	flex-basis: 50%;
	justify-content: start;
}

nav ul {
	display: flex;
	justify-content: end;
	gap: 2rem;
	list-style: none;
	font-weight: 400;
}

.nav-item a {
	text-decoration: none;
	transition: color ease-in-out 0.3s;
	color: var(--bg-light);
}

.nav-item > a:hover {
	color: white;
	border-bottom: 2px solid var(--accent);
}

@media (max-width: 1600px) {
	nav {
		max-width: 70%;
	}
}

@media (max-width: 1600px) {
	nav {
		max-width: 90%;
	}
}
